.collapsible {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
  }
  .collapsible:before {
    font-family: "Glyphicons Halflings";
    content: url("Images/index.html\/arrow.png");
    float: right;
    width:30px;
    height:30px;
    transition: all 0.5s;
 }
 .collapsible.active:before {
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   transform: rotate(-90deg);
 } 
  
  .active, .collapsible:hover {
    background-color: #ef8195;
    color: white;
  }
  
  .content {
    padding: 0 2px;
    display: none;
    overflow: hidden;
    background-color: #FFFF;
  }

  .accordion-button:not(.collapsed) {
    color: white!important;
    background-color: #ef8195!important;
    box-shadow: 6px 5px 13px -4px rgba(239,129,149,0.75)!important;
    -webkit-box-shadow: 6px 5px 13px -4px rgba(239,129,149,0.75)!important;
    -moz-box-shadow: 6px 5px 13px -4px rgba(239,129,149,0.75)!important;
  }

  .content textarea {
    padding: 0px; 
    height: auto;
    width:100%;	
    word-wrap: break-word;
    border: none;
    margin-bottom:0px;
    margin-top:8px;
    margin-left: 8px;
  }

  textarea:focus{
    outline-width: 0;
  }

  .copyToClipboard {
    margin-bottom:4px;
    margin-top: 0px;
  }

  #pastCode{
    display: none;
    padding:0px;
    border: 1px solid #e4dede;
    border-radius:4px;
  }

  #titlePastcodes{
    text-align: center;
    color: black;
    margin-top: 50px 0;
    padding: 5px;
    display:none;
  }

  #titlePastcodes a {
    font-size:16px;
  }

 .arrow {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  .arrow:before {
    transform: translate(10px, 0);
  }
  .arrow:after {
    transform: rotate(90deg) translate(10px, 0);
  }
